POSTGRES_PASSWORD=change-me
JWT_SECRET=replace-with-at-least-32-random-characters
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=change-this-password
ENGINE_MODE=mock
ENGINE_RETRY_LIMIT=2
XIAOYI_BASE_URL=http://host.docker.internal:49980
XIAOYI_TOKEN=
PIP_INDEX_URL=https://pypi.org/simple
